# Database Configuration
DATABASE_URL=postgresql://postgres.bdbaagrjlsuibhvbzuwx:Zafiro2026!@aws-1-us-east-1.pooler.supabase.com:6543/postgres
SUPABASE_ANON_KEY=sb_publishable_kJA2erhusveEAnGv6cR_rg_ZEi8AGFo
# Server Configuration
DB_HOST=aws-1-us-east-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=Zafiro2026!

# JWT Configuration
JWT_SECRET=tu-clave-secreta-muy-segura-cambiar-en-produccion
JWT_EXPIRES_IN=24h

# Clerk Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2VsZWN0LWJsdWVqYXktMjMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_IJB1MvYKoWYppLR2erbtzBvhSgr4IQKgsVlgvAWLD1
# Direcciones de clerck
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/register
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/calendar